<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <title>QUIZ_PROJECT</title>
</head>
<body>
<div class="hat">
    <button onclick="window.location='/homepage/';" style="opacity:80%;">Home</button>
    <a style="width:70px"></a>
    <button onclick="window.location='/users/profile';">Profile</button>
    <button onclick="window.location='/users/logout';">Log out</button>
</div>
<div class="form">
    {% if user.is_anonymous %}
    you are not logged in
    <a href="/users/login"> Log In</a>
    {% else %}
    <h1>Greetings, {{ user.username }}! </h1>
    <table>
        <tr>
            <td><a href="/users/profile">View your profile</a></td>
        </tr>
        <tr>
            <td><a href="/quizzes/create">Create your own quiz!</a></td>
        </tr>
        <tr>
            <td><a href="/quizzes/all">Pass some quizzes!</a></td>
        </tr>
    </table>
    {% endif %}
</div>

<table>
    {% for user in all_users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>


