<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
    <div class="hat">
        <button onclick="window.location='/homepage/';">Home</button>
        <a>Username</a>
        <button onclick="window.location='/users/profile';">Profile</button>
        <button onclick="window.location='/users/logout';">Log out</button>
    </div>
    <form method="post" action="/homepage/" onsubmit="return validate()">
        {% csrf_token %}
        <div class="form">
            <input type="password" name="old_password" placeholder="old pass" required><br>
            <input type="password" name="new_password" placeholder="new pass" required><br>
            <input type="password" name="repeat_password" placeholder="repeat pass" required>
        </div>
        <div class="hat">
            <button type="submit">submit</button>
        </div>
    </form>

<script type="text/javascript">
$(document).ready(function(){
    validate = function (){
        if($(.new_password).value == $(.old_password)){
            alert("you haven't changed pass!");
            return false; }
        if($(.new_password).value == $(.repeat_password)){
            alert("passwords does not match!");
            return false; }
        alert("all gut");
        return false; }
});
</script>
</body>
</html>