<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'script.js' %}" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
{% csrf_token %}
<div class="hat">
    <button onclick="window.location='/homepage/';">Home</button>
    <a style="width:70px"></a>
    <button onclick="window.location='/users/profile';" style="opacity:80%;">Profile</button>
    <button onclick="window.location='/users/logout';">Log out</button>
</div>
<div class="form">
    <div class="profile">
        <input type="text" placeholder="{{ user.username }}" readonly> <br>
        <input type="text" placeholder="{{ user.email }}" readonly> <br>
        <button onclick="window.location='/users/change_pass'" style="width:215px;">Change password</button><br>
        <select id="quizSelect" onchange="quiz_select()" style="width:215px;">
            <option value="" selected disabled hidden>Select</option>
            <option value="users">Your quizzes</option>
            <option value="passed">Previously passed quizzes</option>
        </select>
        <div class="selected">
        </div>
    </div>
</div>
</body>
</html>