<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles2.css' %}">
    <meta charset="UTF-8">
    <title>{{ quiz.name }}</title>
</head>
<body>
<div class="form">
    <form method="post" action="">
        <h2>{{ quiz.name }}</h2><br>
        {% csrf_token %}
        {% for question in questions %}
        <div class="quiz">
            <h3>{{ forloop.counter }}. {{ question.text }} ({{ question.points }} point/s)</h3>
                {% for answer in question.answers %}
                <tr>
                    <td><div><input type="checkbox" name="checkbox_answer_{{ answer.id }}" >{{ answer.text }}</div></td>
                </tr>
                {% endfor %}
            <br>
        </div>
        {% endfor %}
        <button type="submit">submit</button>
    </form>
</div>
</body>
</html>