<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <title>Quizzes</title>
</head>
<body>
<div class="form">
    {% if all_quizzes %}
    {% for quiz in all_quizzes %}
    <div class="quiz_box">
        <a href="/quizzes/{{ quiz.id }}">{{ quiz.name }}</a>
        <div class="quiz_box_info">
            <a style="font-size:16px;color:{% if quiz.rate < 0 %} red {% else %} green {% endif %}">
                rate: {{ quiz.rate }}</a>
            <a>questions: {{ quiz.questions_count }}</a>
            <a>max points: {{ quiz.max_points }}</a>
            <a>your best score:{% if quiz.best_score == -1 %} 0 {% else %} {{ quiz.best_score }} {% endif %}</a>
        </div> <br>
        <h5>last comment: <i style="font-size:11px">{{ quiz.comment }}</i></h5>
    </div>
    {% endfor %}
    {% else %}
        <p>No quizzes are available.</p>
    {% endif %}
</div>
</body>
</html>